main {

    position: relative;

    .inputBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 8px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    span {
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }

    svg {
        position: relative;
        top: 22px;
    }

    input {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 3.5rem;
        width: 288px;
        color: white;

        text-align: center;
        border: none;
        padding: 12px;
        border-radius: 12px;
        background-color: #223341;

        &:focus {
            outline: 2px solid #84a2b9;
        }
    }

}

@media (max-width: 763px) {
    main {
        flex-direction: column;
    }

    svg {
        position: static !important;
    }
}

