* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #213f56;
    height: 100vh;
    -webkit-font-smoothing: antialiased;

    display: flex;
    justify-content: center;
    align-items: center;
}

